@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Black.ttf');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('./Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Raleway Medium';
  src: url('./Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway Black';
  src: url('./Raleway-Black.ttf');
}
@font-face {
  font-family: 'Raleway Regular';
  src: url('./Raleway-Regular.ttf');
}
