.display_greeting {
  margin: auto;
  max-width: var(--max-width);
  padding: 0;
}

.container {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 10% auto;
  max-width: var(--max-width);
}
.img_wrapper {
  width: 40rem;
}
.container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.text_wrapper {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.1rem;
  margin-right: 5rem;
  text-align: center;
}
.text_wrapper h1 {
  color: var(--btn-red);
  margin: 0;
}
.text_wrapper h3 {
  color: var(--btn-red);
}
.text_wrapper p {
  color: var(--secondary-color);
  margin-top: 1rem;
}
.btn {
  font-family: var(--head-font-r);

  background: var(--head-color);
  border: 1px solid var(--btn-red);
  border-radius: 1.5rem;
  color: var(--light-body-color);
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem;
  cursor: pointer;
}

.img_wrapper img:hover {
  -webkit-animation: skew-y-shake 1s;
  animation: skew-y-shake 1s linear;
}

@-webkit-keyframes skew-y-shake {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(5px, 5px) rotate(5deg);
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(0eg);
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    -webkit-transform: translate(-5px, 5px) rotate(-5deg);
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes skew-y-shake {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(5px, 5px) rotate(5deg);
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(0eg);
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    -webkit-transform: translate(-5px, 5px) rotate(-5deg);
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
}
