@import url('./fonts/fonts.css');
#root {
  --max-width: 1400px;
  --text-font-rblack: 'Raleway Black', sans-serif;
  --text-font-rmedium: 'Raleway Medium';
  --text-font: 'Raleway Regular', sans-serif;
  --head-font: 'Roboto', sans-serif;
  --head-font-r: 'Roboto Regular', sans-serif;
  --head-color: #e83a4b;
  --dark-red: #bd2328;
  --secondary-color: #ee9085;
  --btn-red: #ec2c2f;
  --light-body-color: #f9f5f4;
  background: var(--light-body-color);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-family: var(--head-font);
}
p {
  font-family: var(--text-font);
  font-size: 1rem;
  margin: 0;
}

header {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  height: 5rem;

  /* margin: 0 auto; */
}
main {
  height: auto;
  max-width: var(--max-width);
  margin: 0 auto;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}
.logo:hover {
  -webkit-filter: drop-shadow(0 0 2em #646cffaa);
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  -webkit-filter: drop-shadow(0 0 2em #61dafbaa);
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@-webkit-keyframes logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    -webkit-animation: logo-spin infinite 20s linear;
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
